<div class="page_sm_banner measurement">
  <h1 class="page_head">Book A Slot</h1>
</div>

<div class="container section_padding">
  <div class="row sm_row_flex">
    <div class="col-sm-7 text-center v_center_flex">
      <div class="width100">
        Our associate  will come on the selected time, take your measurement and will provide to the tailor.
        <h2 class="section_head p_b_20 p_t_40 border_fix">
            <span>Date</span>
        </h2>
        <select>
          <option>12 december 2018</option>
        </select><br>
        <h2 class="section_head p_b_20 p_t_40 border_fix">
          <span>Time</span>
      </h2>
      <select>
        <option>12:00 PM</option>
        <option>12:30 PM</option>
      </select><br>
      <div class="p_b_20 p_t_40">
        <a href="#" class="anc_btn btn_sm_crop"  routerLink="/measurements">Book !</a>
      </div>
      </div>
    </div>
    <div class="col-sm-5">
      <img src="./assets/images/book-slot.png" class="img-responsive">
    </div>
  </div>
</div>