<div class="container-fluid">
    <div class="row">
        
        <div class="w3-content w3-display-container" id="home_slider">
            <div class="mySlides">
                <img src="./assets/images/banner-1.jpg" style="width:100%">
                <!-- <div class="slider_content">
                    <h2>Start Your Greatest Adventure</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                    <a href="javascript:void(0)" class="anchors">Click Here</a>
                </div> -->
            </div>
            <div class="mySlides">
                <img src="./assets/images/banner-2.jpg" style="width:100%">
            </div>
            <div class="mySlides">
                <img src="./assets/images/banner-3.jpg" style="width:100%">
            </div>
        
            <button class="w3-button w3-black w3-display-left" (click)="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" (click)="plusDivs(1)">&#10095;</button>
        </div>
    </div>
</div>

<!-- first section -->
<div class="container section_padding">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="section_head">
                <span>Existing Dresses</span>
            </h2>
            <div class="row row_m_10 top_space_50 p_t_30">
                <div class="col-sm-6 col-md-3 h_space_10">
                    <div class="product_box">
                        <img src="assets/images/products/dress_1.jpg" alt="dress">
                        <div class="box_content" title="Floral Black One Piece">
                            <h4>Floral Black One Piece</h4>
                            <div class="box_btn_wrap">
                                <a href="#" class="anc_btn btn_sm_crop">View</a>
                                <a href="#" class="anc_btn btn_m_crop">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dress end-->
                <div class="col-sm-6 col-md-3 h_space_10">
                    <div class="product_box">
                        <img src="assets/images/products/dress_2.jpg" alt="dress">
                        <div class="box_content" title="Floral White Evening Gown">
                            <h4>Floral White Evening Gown</h4>
                            <div class="box_btn_wrap">
                                <a href="#" class="anc_btn btn_sm_crop">View</a>
                                <a href="#" class="anc_btn btn_m_crop">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dress end-->
                <div class="col-sm-6 col-md-3 h_space_10">
                    <div class="product_box">
                        <img src="assets/images/products/dress_4.jpg" alt="dress">
                        <div class="box_content" title="Floral White Evening Gown">
                            <h4>Pink Short Dress</h4>
                            <div class="box_btn_wrap">
                                <a href="#" class="anc_btn btn_sm_crop">View</a>
                                <a href="#" class="anc_btn btn_m_crop">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dress end-->
                <div class="col-sm-6 col-md-3 h_space_10">
                    <div class="product_box">
                        <img src="assets/images/products/dress_5.jpg" alt="dress">
                        <div class="box_content" title="Floral White Evening Gown">
                            <h4>Black One Piece</h4>
                            <div class="box_btn_wrap">
                                <a href="#" class="anc_btn btn_sm_crop">View</a>
                                <a href="#" class="anc_btn btn_m_crop">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dress end-->
                <div class="col-sm-6 col-md-3 h_space_10">
                    <div class="product_box">
                        <img src="assets/images/products/dress_1.jpg" alt="dress">
                        <div class="box_content" title="Floral Black One Piece">
                            <h4>Floral Black One Piece</h4>
                            <div class="box_btn_wrap">
                                <a href="#" class="anc_btn btn_sm_crop">View</a>
                                <a href="#" class="anc_btn btn_m_crop">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dress end-->
                <div class="col-sm-6 col-md-3 h_space_10">
                    <div class="product_box">
                        <img src="assets/images/products/dress_2.jpg" alt="dress">
                        <div class="box_content" title="Floral White Evening Gown">
                            <h4>Floral White Evening Gown</h4>
                            <div class="box_btn_wrap">
                                <a href="#" class="anc_btn btn_sm_crop">View</a>
                                <a href="#" class="anc_btn btn_m_crop">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dress end-->
                <div class="col-sm-6 col-md-3 h_space_10">
                    <div class="product_box">
                        <img src="assets/images/products/dress_4.jpg" alt="dress">
                        <div class="box_content" title="Floral White Evening Gown">
                            <h4>Pink Short Dress</h4>
                            <div class="box_btn_wrap">
                                <a href="#" class="anc_btn btn_sm_crop">View</a>
                                <a href="#" class="anc_btn btn_m_crop">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dress end-->
                <div class="col-sm-6 col-md-3 h_space_10">
                    <div class="product_box">
                        <img src="assets/images/products/dress_5.jpg" alt="dress">
                        <div class="box_content" title="Floral White Evening Gown">
                            <h4>Black One Piece</h4>
                            <div class="box_btn_wrap">
                                <a href="#" class="anc_btn btn_sm_crop">View</a>
                                <a href="#" class="anc_btn btn_m_crop">Add to Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- dress end-->
            </div>
        </div>
    </div>
</div>

<!-- second section -->
<div class="container section_padding">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="section_head">
                <span>Or Design Your Own</span>
            </h2>
            <div class="row p_t_50">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    Our Unique feature which gives you the power to design your dress by your own. Design of your choice, fabric of your choice, size according to you. We just mould the cloth accordingly and deliver it to you to give you the perfect fit of your satisfactory design.<br><br>
                    <a href="#" class="anc_btn btn_m_crop">Click here</a> to design your own dress
                </div>
            </div>
        </div>
    </div>
</div>

<!-- third section -->
<div class="container section_padding">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="section_head">
                <span>Our Brands</span>
            </h2>
            <div class="row p_t_50 logo_block">
                <div class="col-xs-6 col-sm-2 col-sm-offset-2 text-center logo_col">
                    <img src="assets/images/logos/logo_1.png" alt="dress">
                </div>
                <div class="col-xs-6 col-sm-2 text-center logo_col">
                    <img src="assets/images/logos/logo_2.jpg" alt="dress">
                </div>
                <div class="col-xs-6 col-sm-2 text-center logo_col">
                    <img src="assets/images/logos/logo_3.jpg" alt="dress">
                </div>
                <div class="col-xs-6 col-sm-2 text-center logo_col">
                    <img src="assets/images/logos/logo_4.jpg" alt="dress">
                </div>
            </div>
        </div>
    </div>
</div>