<div class="footer_wrap section_padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4 class="light_gr">Important Links</h4>
        <ul class="footer_list">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About Us</a>
          </li>
          <li>
            <a href="#">Services</a>
          </li>
          <li>
            <a href="#">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4 class="light_gr">Shop</h4>
        <ul class="footer_list">
          <li>
            <a href="#">Tops</a>
          </li>
          <li>
            <a href="#">Skirts</a>
          </li>
          <li>
            <a href="#">Ethic Wear</a>
          </li>
          <li>
            <a href="#">On Sale</a>
          </li>
        </ul>
      </div>
      
      <div class="col-sm-4">
          <h4 class="light_gr">Stay Connected</h4>
          <ul class="social_list">
            <li>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            </li>
          </ul>
          <h4 class="light_gr">Subscribe to Our Newsletter</h4>
          <div class="footer_news">
            <form>
              <input type="email" name="email" placeholder="Email">
              <button type="submit" class="anc_btn btn_m_crop">Subscribe</button>
            </form>
          </div>
        </div>
    </div>
  </div>
</div>

<!--copyright-->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>Copyright &copy; 2018 Fashion Store</p>
      </div>
    </div>
  </div>
</div>