<div class="page_sm_banner measurement">
  <h1 class="page_head">Measurements</h1>
</div>

<div class="container section_padding">
  <div class="row sm_row_flex">
    <div class="col-sm-7 text-center v_center_flex">
      <div class="width100">
        <a href="#" class="anc_btn btn_lg_crop">Select from saved measurements</a> opens a popup to select from saved measurements.<br>
        <h2 class="section_head section_padding">
            <span>Or</span>
        </h2>
        <a href="#" class="anc_btn btn_lg_crop"  routerLink="/book-slot">Book a slot for measurements</a>
        <div class="section_padding">
          <p>
            Done with above step?
          </p>
          <div class="btn_apart">
            <a href="#" class="anc_btn btn_m_crop"><i class="fa fa-arrow-left" aria-hidden="true"></i> Review Design</a>
            <a href="#" class="anc_btn btn_sm_crop">Proceed <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <img src="./assets/images/measure_image.jpg" class="img-responsive">
    </div>
  </div>
</div>